/* SELECTORES */

/* 
SELECTORES SIMPLES
    Selectores elementales
        Selector Universal -> *
        Selector de tipo o de etiqueta -> Nombre de la etiqueta
    Selectores de atributo
        id -> id del elemeto
        clase -> clase del elemento
        otros atributos
            [atributo href]
            [atributo = valor]
            [atributo^=valor]
            [atributo*=valor]
            [atributo$=valor]
            [atributo|=valor]
SELECTORES COMPUESTOS
    Selectores Agrupados
    Selectores Combinadores
        Selector descendiente
        Selector de hermano siguiente +
        Selector de hermano siguiente ~
        Selector de hojo directo > 
 */


 /*Selectores elementales*/
    /*Selector Universal*/
    *{
        background-color: lightcoral;
    }

    /*Selector de tipo o de etiqueta*/
    h1{
        background-color: lightcyan;
    }

    p{
        background-color: lightgreen;
    }

    ul{
        background-color: red;
    }

    li{
        background-color: blue;
    }

/*Selectores de atributo*/
    /* id */ 
    #title{
        background-color: lightpink;
    } /*No es recomendable dar estilos con id ya que son identificadores*/

    /* clase */
    .title{
        background-color: lightsalmon;
    }

    .texto{
        background-color: yellowgreen;
    }

    /* otros atributos */
        /* atributo href */
        [href]{
            background-color: magenta;
        }

        [href="https://google.com"]{
            background-color: aqua;
        }

        /* atributo circunflejo. Si empieza por esa palabra */
        [href^="color"]{
            background-color: peru;
        }

        /* atributo asterisco. Si contiene esa palabra */
        [href*="modo"]{
            background-color: green;
        }

        /* atributo $. Si termina en esa palabra */
        [href$="rojo"]{
            background-color: crimson;
        }

        /* atributo pipe o barra. Para el idioma */
        [lang|="en"]{
            background-color: blue;
        }

/* Selectores agrupados */
.texto,
.texto1 {
    background-color: goldenrod;
}

/* Selectores combinadores */
    /* Selector descendiente. Padre e hijos */
    div .titulo2 {
        background-color: teal;
    } */

    /* Selector de hermano siguiente +. 2 elementos que estan al mismo nivel dentro de otro elemento. Uno justo dspues de otro  */
    .texto1 + h2 {
        background-color: red;
    }

    /* Selector de hermano siguiente ~. Sleccionas todos los hermanos que coincidadan con la seleccion */
    .texto1 ~ .texto{
        background-color: beige;
    }

    /* Selecctor de hijo directo >. Selecciona solo los hojos directos */
    .container > .texto1{
        background-color: green;
    }